* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #0F080F;

    font-family: 'Roboto', sans-serif;
}

header {
    padding: 30px;
}

header div {
    text-align: center;
}

header div h1 {
    font-size: 32px;
    color: #d0920e;
    margin-bottom: 20px;
    padding-bottom: 15px;

    border-bottom: 2px solid white;
}

header div h2 {
    font-size: 26px;
    color: #d0920e;
    padding-bottom: 15px;
}

header div.links {
    text-align: center;
}

header div.links a {
    color: #d0920e;
    font-size: 18px;
    line-height: 28px;

    margin: 0px 30px;

    text-decoration: none;
}

header div a:hover {
    color: #bbbbbb;
    transition: color 500ms;
}